---
import { getArticle } from "../../Sanity/api";
import Button from "../../components/Button";
import RenderPortableText from "../../components/RenderPortableText";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;
const article = await getArticle(slug);

if (!article) {
  const error = await fetch(`${Astro.url}/404`);
  return new Response(error.body, {
    headers: error.headers,
    status: 404,
    statusText: "Not Found",
  });
}
---

<Layout title={article?.title}>
  <h1>{article?.title}</h1>
  <RenderPortableText content={article?.content} />
</Layout>
