---
import { getBlog } from "../../Sanity/api";
import RenderPortableText from "../../components/RenderPortableText";

const { slug } = Astro.params;
const blog = await getBlog(slug);
---

<h1>{blog.title}</h1>
<RenderPortableText content={blog.content} />
