---
import { getBlog } from "../../Sanity/api";
import RenderPortableText from "../../components/RenderPortableText";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;
const blog = await getBlog(slug);

if (!blog) {
  const error = await fetch(`${Astro.url}/404`);
  return new Response(error.body, {
    headers: error.headers,
    status: 404,
    statusText: "Not Found",
  });
}
---

<Layout title={blog?.title}>
  <h1>{blog?.title}</h1>
  <RenderPortableText content={blog?.content} />
</Layout>
